body {
  background-color: #262626;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.kreator-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
}

.left-side, .right-side {
  background-color: #383838;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}

.left-side {
  flex: 1 1 800px;
  max-width: 800px;
  align-self: flex-start;
}

.right-side {
  flex: 1 1 800px;
  max-width: 800px;
}

.left-side h2,
.right-side h3 {
  text-align: center;
  margin-bottom: 20px;
}

.left-side label {
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}


select, button {
  width: 90%;
  max-width: 320px;
  padding: 10px 12px;
  font-size: 16px;
  margin: 10px auto;
  display: block;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #046cb2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #03609e;
}

.package-item {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  background-color: #4a4a4a;
}

.summary {
  background-color: #2c2c2c;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #555;
  margin-top: 20px;
  white-space: pre-line;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.devices label {
  margin-right: 10px;
  display: inline-block;
}